.chat-widget-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chat-content {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    right: 0;
}

.chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.chat-icon {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.chat-list, .chat-messages {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.chat-item, .message-item {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.chat-item:hover, .message-item:hover {
    background-color: #f0f0f0;
}

.message-item {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 8px;
    display: inline-block; /* Make the item inline-block so it only takes up as much space as it needs */
    max-width: 70%; /* Maximum width set to 70% of parent container */
}

.message-from-current-user {
    background-color: #daf8cb;
    margin-left: auto;
    text-align: right;
}

.message-from-other-user {
    background-color: #f0f0f0;
    margin-right: auto;
    text-align: left;
}

.message-input-container {
    display: flex;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
}

.message-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.send-message-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.send-message-button:hover {
    background-color: #0056b3;
}